.jumbotron-hero {
    height: 400px;
  
    background-image: url("https://cdn.pixabay.com/photo/2016/10/18/21/22/beach-1751455_960_720.jpg");
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  a:link { text-decoration: none; }
















